kind: BuildConfig
metadata:
  labels:
    app: {{app}}
  name: {{app}}-pipeline
spec:
  nodeSelector: null
  output: {}
  postCommit: {}
  resources: {}
  source:
    git:
      uri: https://{{gittoken}}@{{gitrepo}}etadata:
  name: {{ .key }}
type: Opaque
    type: Git
  strategy:
    jenkinsPipelineStrategy: {}
    type: JenkinsPipeline
  triggers:etadata:
  name: {{ .key }}
type: Opaque
  - github:
      secret: yPHJ_D8Ce7fDsvJhV15O
    type: GitHub
  - generic:
      secret: WoLTfBuv_XT6JdR9j8bD
    type: Generic
  - type: ConfigChange
status:
  lastVersion: 0

  name: {{app}}
spec:
  replicas: 1
  selector:
    app: {{app}}
    deploymentconfig: {{app}}
  strategy:
    resources: {}
git:
      uri: https://{{gittoken}}@{{gitrepo}}
    type: Git
  strategy: