kind: Secret
metadata:
  name: mygittoken
  namespace: '{{project}}'
  annotations:
    build.openshift.io/source-secret-match-uri-1: 'https://github.ibm.com/*'
#  labels:
#    credential.sync.jenkins.openshift.io: true
  type: Opaque
data:
  password: "{{ gittoken | b64encode }}"
